<ion-tabs>
  <ion-tab-bar slot="bottom" class="app-tab-bar">

    <ion-tab-button tab="overview">
      <ion-icon name="pie-chart-outline" aria-hidden="true"></ion-icon>
      <ion-label>ภาพรวม</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="add" class="tab-emphasized">
      <ion-icon name="add-circle-outline" aria-hidden="true"></ion-icon>
      <ion-label>เพิ่ม</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history">
      <ion-icon name="time-outline" aria-hidden="true"></ion-icon>
      <ion-label>ประวัติ</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline" aria-hidden="true"></ion-icon>
      <ion-label>ตั้งค่า</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
