<ion-tabs>
  <ion-tab-bar slot="bottom" class="app-tab-bar">

    <ion-tab-button tab="overview">
      <ion-icon name="pie-chart-outline" aria-hidden="true"></ion-icon>
      <ion-label>ภาพรวม</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline" aria-hidden="true"></ion-icon>
      <ion-label>ตั้งค่า</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

  <button
    class="fab-add"
    type="button"
    routerLink="/tabs/add"
    routerLinkActive="fab-add-active"
    aria-label="เพิ่มการเติมน้ำมัน">
    <ion-icon src="assets/icons/nozzle.svg" aria-hidden="true"></ion-icon>
  </button>
</ion-tabs>
